
.button {
  padding: 5px;
  margin: 1rem 0;
  border: 1px solid #999;
  border-radius: 3px;
  background-color: #eee;
  font-family: inherit;
  font-size: inherit;

  &.disabled {
    opacity: 0.8;
    cursor: not-allowed;
  }
}