.film {

    &__underline {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
    
    &__episodetitle {
        margin-bottom: 1rem;
    }
    &__crawl {
      display: flex;
      flex-direction: row;
    }
    &__openingCrawl {
      font-family: 'Courier New', Courier, monospace;
      white-space: pre-line;
      flex: 0 0 30%;
    }
}
